<div class="nav-left">
	<a href="#" onclick="history.back(); return false;" title="" class="back"><span></span></a>
</div>
<h1>{% trans %}Adverts{% endtrans %}</h1>
<div class="nav-right">
	<a href="#/adverts/add/" title="" class="add must-login"><span></span></a>
</div>