<div class="span9 offset1">
	<h2 style="font-weight: 400; margin-bottom: 10px;">{% trans %}Nice work!!!{% endtrans %}</h2>
	<h4>{% trans %}Your account is ready. Now you can publish your adverts.{% endtrans %}</h4>
	
	<div style="margin-top: 40px;">
		<a href="{{ path('start') }}" title="" class="btn">{% trans %}Next{% endtrans %} &raquo;</a>
	</div>
</div>